automation:
    - alias: "System - Boot Services"
      mode: single
      trigger:
          - trigger: homeassistant
            event: start
      action:
          # Turn Off Admin Mode
          - action: input_boolean.turn_off
            target:
                entity_id: input_boolean.admin_mode
          # Set PIN
          - action: input_text.set_value
            data:
                value: "{{ states('input_text.system_pin') + states('input_text.location_pin') }}"
            target:
                entity_id: input_text.admin_pin_code
          # Set Theme to SmartQasa
          - action: frontend.set_theme
            data:
                name: SmartQasa
          # Restart Fully Kiosk
          - actions:
                - action: input_button.press
                  target:
                      entity_id: input_button.fully_kiosk_restart_app
                  data: {}

          # Dim & Reset Tablets
          #- action: button.press
          #  target:
          #      entity_id: >-
          #          {{ states.button | selectattr("entity_id", "search",
          #          "tablet_bring_to_foreground$") | map(attribute="entity_id")|list }}
          #- action: input_button.press
          #  target:
          #      entity_id: input_button.tablet_brightness
          # Run Watchman
          - delay:
                minutes: 2
          - action: watchman.report
            data:
                create_file: true
                send_notification: false
                parse_config: false
                chunk_size: false

    - alias: "System - Adjust Admin PIN when System or Location PINs change."
      trigger:
          - trigger: state
            entity_id:
                - input_text.system_pin
          - trigger: state
            entity_id:
                - input_text.location_pin
      condition: []
      action:
          - action: input_text.set_value
            data:
                value: "{{ states('input_text.system_pin') + states('input_text.location_pin') }}"
            target:
                entity_id: input_text.admin_pin_code
      mode: single

    - alias: "System - Reset Admin Mode"
      mode: single
      trigger:
          - trigger: state
            entity_id:
                - input_boolean.admin_mode
            to: "on"
            for:
                hours: 1
      action:
          - action: input_boolean.turn_off
            target:
                entity_id: input_boolean.admin_mode

    - alias: "System - Refresh Tablets on Dashboard Modification"
      mode: single
      trigger:
          - trigger: event
            event_type: lovelace_updated
      action:
          - action: script.system_tablet_reload

    - alias: "System - Toggle Tablet Screens for Light/Dark Mode"
      trigger:
          - trigger: sun
            event: sunrise
            offset: "00:10:00"
          - trigger: sun
            event: sunset
            offset: "00:10:00"
      action:
          - action: switch.turn_off
            data: {}
            target:
                entity_id: >-
                    {{ states.switch|selectattr("entity_id", "search",
                    "tablet_screen$")|map(attribute="entity_id")|list }}
          - delay:
                seconds: 1
          - action: switch.turn_on
            data: {}
            target:
                entity_id: >-
                    {{ states.switch|selectattr("entity_id", "search",
                    "tablet_screen$")|map(attribute="entity_id")|list }}

    - alias: "System - Fully Kiosk Restart App"
      mode: single
      triggers:
          - trigger: time
            at: "04:00:00"
      conditions: []
      actions:
          - action: input_button.press
            target:
                entity_id: input_button.fully_kiosk_restart_app
            data: {}
