automation:
  - alias: 'System - Startup Services'
    mode: single
    trigger:
      - trigger: homeassistant
        event: start
    action:
      # Set Theme to SmartQasa
      - action: frontend.set_theme
        data:
          name: SmartQasa
      # Run Watchman
      - delay:
          minutes: 5
      - action: watchman.report
        data:
          create_file: true
          send_notification: false
          parse_config: false
          chunk_size: false

  - alias: 'System - Shutdown Services'
    mode: single
    trigger:
      - trigger: homeassistant
        event: shutdown
    actions:
      # Update Repositories
      - action: shell_command.update_repos

  - alias: 'System - Periodic Restart'
    mode: single
    trigger:
      - platform: time
        at: '04:00:00'
    action:
      - if:
          - condition: time
            weekday:
              - sun
        then:
          - action: script.system_reboot_tablets
          - delay:
              minutes: 2
          - action: hassio.host_reboot
        else:
          - action: homeassistant.restart

  - alias: 'System - Set Admin PIN on PIN change.'
    mode: single
    trigger:
      - trigger: homeassistant
        event: start
      - trigger: state
        entity_id:
          - input_text.system_pin
      - trigger: state
        entity_id:
          - input_text.location_pin
    action:
      - action: input_text.set_value
        data:
          value:
            "{{ states('input_text.system_pin') +
            states('input_text.location_pin') }}"
        target:
          entity_id: input_text.admin_pin_code

  - alias: 'System - Reset Admin Mode on Timeout'
    mode: single
    trigger:
      - trigger: homeassistant
        event: start
      - trigger: state
        entity_id:
          - input_boolean.admin_mode
        to: 'on'
        for:
          hours: 1
    action:
      - action: input_boolean.turn_off
        data: {}
        target:
          entity_id: input_boolean.admin_mode

  - alias: 'System - Refresh Devices on Lovelace update'
    mode: single
    triggers:
      - trigger: event
        event_type: lovelace_updated
    actions:
      - action: browser_mod.refresh
        data: {}

  - alias: System - Stop Window Shades on Timeout
    description: ''
    mode: single
    triggers:
      - trigger: state
        entity_id:
          - cover.all_window_shades
        to: opening
        for:
          hours: 0
          minutes: 1
          seconds: 0
      - trigger: state
        entity_id:
          - cover.all_window_shades
        to: closing
        for:
          hours: 0
          minutes: 1
          seconds: 0
    actions:
      - action: cover.stop_cover
        data: {}
        target:
          entity_id: cover.all_window_shades

  - alias: System - Webhook Action Caller
    mode: queued
    triggers:
      - trigger: webhook
        webhook_id: action
        allowed_methods:
          - POST
        local_only: true
    variables:
      service: "{{ trigger.query.service | default('') }}"
      entity: "{{ trigger.query.entity | default('') }}"
      condition:
        - condition: template
          value_template: "{{ service != ''}}"
    actions:
      - action: '{{ service }}'
        data:
          entity_id: '{{ entity }}'
        continue_on_error: true
      - action: logbook.log
        data:
          name: 'Webhook Service Call'
          message: >
            Called {{ trigger.query }} with {{ service }} on {{ entity }}
